.fill-remaining-space{
    flex: 1 1 auto;
}

.btn{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.btn:after{
  content: "";
  position: absolute;
  width: 100% - 30;
  height: 2px;
  bottom: 0;
  left: 15px;
  right: 15px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0, 0.63, 0.3, 0.99) 0s;
  transition: all 0.3s cubic-bezier(0, 0.63, 0.3, 0.99) 0s;
}

.btn:hover:after{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    min-height: 120px;
    padding: 16px 80px;
    background-color: transparent;
    color: white;
}

.brand{
    margin-left: 20px;
}

.last-item-in-bar{
    margin-left: auto;
    display: none;
}

@media(max-width:800px){
    .mobile-hidden{
        display: none;
    }

    nav{
        padding: 16px 30px;
    }

    .last-item-in-bar{
        display: block;
    }
}