/**
 * General CSS styles
 */
.fill-remaining-space{
    flex: 1 1 auto;
}

/**
 * Nav styles
 */
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 120px;
    padding: 16px 80px;
    background-color: transparent;
    color: white;

    position: fixed;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

nav.nav-change{
    background-color: rgba(0,0,0,0.8);
    height: 80px;
    padding: 0 80px;
}

.last-item-in-bar{
    margin-left: auto;
    display: none;
}

/**
 * Nav Buttons
 */
.btn{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.btn:after{
  content: "";
  position: absolute;
  width: 100% - 30;
  height: 2px;
  bottom: 0;
  left: 15px;
  right: 15px;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0, 0.63, 0.3, 0.99) 0s;
  transition: all 0.3s cubic-bezier(0, 0.63, 0.3, 0.99) 0s;
}

.btn:hover:after{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Consider the mobile device which has no hover support*/
nav.touch-device .btn:hover:after {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

/**
 * Brand styles
 */
.brand{
    margin-left: 20px;
}

@media(max-width:800px){
    .mobile-hidden{
        display: none;
    }

    nav{
        padding: 16px 30px;
    }

    nav.nav-change{
        background-color: rgba(0,0,0,0.5);
        height: 80px;
        padding: 0 30px;
    }

    .last-item-in-bar{
        display: block;
    }
}