<nav>
  <a class="brand"><md-icon id="brand-icon">sentiment_dissatisfied</md-icon>laventy</a>
  <a class="mobile-hidden btn" pageScroll href="#about-me-section" [pageScrollDuration]='300'>About Me</a>
  <a class="mobile-hidden btn" pageScroll href="#skill-section" [pageScrollDuration]='300'>Skills</a>
  <a class="mobile-hidden btn" pageScroll href="#moment-section" [pageScrollDuration]='300'>Moments</a>
  <a class="mobile-hidden btn" pageScroll href="#work-linkin-section" [pageScrollDuration]='300'>Work&Profile</a>

  <div class="fill-remaining-space"></div>

  <button class="last-item-in-bar" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item pageScroll href="#about-me-section" [pageScrollDuration]='300'>
      <md-icon>face</md-icon>
      <span>About Me</span>
    </button>
    <button md-menu-item pageScroll href="#skill-section" [pageScrollDuration]='300'>
      <md-icon>star</md-icon>
      <span>Skills</span>
    </button>
    <button md-menu-item pageScroll href="#moment-section" [pageScrollDuration]='300'>
      <md-icon>image</md-icon>
      <span>Moments</span>
    </button>
    <button md-menu-item pageScroll href="#work-linkin-section" [pageScrollDuration]='300'>
      <md-icon>person</md-icon>
      <span>Work&Profile</span>
    </button>
  </md-menu>
</nav>
