.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../../assets/img/award.jpg");
  min-height:100%;
}

.pimg2{
  background-image:url('../../assets/img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../../assets/img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.section h2{
  font-size: 2em;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  display: inline-block;
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

/*
  About Me Section
*/
#brief-container{
  overflow: hidden;
  margin-top: 20px;
}
.brief{
  float: left;
  width: 30%;
  padding:5px;
}

#brief-container .brief img{
  width:90px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }

  .pimg1 .border{
    font-size:16px;
  }
}


@media(max-width:768px){
  .brief{
    width: 100%;
  }
}