/**
 * General CSS styles
 */
.section-full-screen{
  position:relative;
  height:100%;
}

.section{
  position: relative;
  text-align:center;
  padding:50px 80px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.section-light{
  background-image: url("../../assets/img/background-texture/crossword.png");
  color:#666;
}

.section-dark{
  background-image:url("../../assets/img/background-texture/stardust.png");
  color:#ddd;
}

.section h2{
  font-size: 2em;
}

.ptext{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width:100%;
  text-align:center;
  color:#000;
  font-size:2.1em;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  display: inline-block;
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

/*
  About Me Section
*/
#brief-container{
  overflow: hidden;
  margin-top: 20px;
  text-align: justify;
}

#brief-container:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.brief{
  display: inline-block;
  text-align: center;
  width: 30%;
  padding:5px;
}

#brief-container .brief img{
  width:90px;
}


/* Triangle Seperater*/
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

#about-me-section::after, #skill-section::after{
	left: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  bottom: -25px;
	z-index: 10;
	background: inherit;
}

/*
  About skill container
*/

.skill-wrapper{
  width: 100%;
  word-spacing: 130px;
}

.skill-main-container{
  display: inline-block;
  word-spacing: normal;
}

.skill-main-container h4{
  font-weight: 400;
  margin: 30px auto;
  width: 210px;
  border-bottom: 2px dotted #282e34;
  padding: 10px 0;
}

.skill-container{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 550px;
}

.skill-element{
  position: relative;
  width: 140px;
  height: 140px;
}

.skill-element img:nth-child(1){
  width: 100%;
  height: 100%;
  transition: all .3s ease-out;
}

.skill-element:hover img:nth-child(1){
  transform: scale(1.05);
}

.skill-element img:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skill-element .skill-text{
  text-align: center;
  position: absolute;
  width: 100%;
  top: 42%;
}

/*
  My moment section
*/

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid settings ---- */
.grid-sizer,
.grid-item {
  width: calc((100% - 2%)/3);
}

.gutter-sizer{
  width: 1%;
}

.grid-item {
  display: block;
  float: left;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1%;
}

.grid-item figcaption{
  display: none;
}

.grid-item img {
  display: block;
  width: 100%;
  opacity: 1;
}

.grid-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 7vmin;
  opacity: 0;
  color: white;
  transition: all .3s ease-out;
}

/* Hover effect */
.grid-item:hover img {
  opacity: 0.6;
}

.grid-item:hover i {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* Consider the mobile device which has no hover support */
/* Just eliminate the hover effect */
section.touch-device .grid-item:hover img {
  opacity: 1;
}

section.touch-device .grid-item:hover i {
  opacity: 0;
}

/*
  Work and Profile Secction
*/
#work-linkin-section{
  padding: 0;
  line-height: 0;
  word-spacing: -4px;
}

#work-linkin-section figure{
  position: relative;
  display: inline-block;
  word-spacing: normal;
  line-height: normal;
  max-height: 500px;
  width: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#work-linkin-section figure img {
	position: relative;
	display: block;
	max-width: 100%;
  opacity: 0.8;
  filter: brightness(80%);
}

#work-linkin-section figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
}

#work-linkin-section figure figcaption,
#work-linkin-section figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#work-linkin-section figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#work-linkin-section figure h2 {
	font-weight: 300;
}

#work-linkin-section figure h2 span {
	font-weight: 800;
}

#work-linkin-section figure h2,
#work-linkin-section figure p {
	margin: 0;
}

#work-linkin-section figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

#work-linkin-section figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

#work-linkin-section figure.effect-lily figcaption {
	text-align: left;
}

#work-linkin-section figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

#work-linkin-section figure.effect-lily h2,
#work-linkin-section figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

#work-linkin-section figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

#work-linkin-section figure.effect-lily p {
  opacity: 1;
	color: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

#work-linkin-section figure.effect-lily:hover img{
	opacity: 1;
}

#work-linkin-section figure.effect-lily:hover img,
#work-linkin-section figure.effect-lily:hover h2,
#work-linkin-section figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#work-linkin-section figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/* Consider the mobile device which has no hover support*/
/* hover effect changes nothing if it is mobile devices */
#work-linkin-section.touch-device figure.effect-lily:hover img{
	opacity: 0.7;
}

#work-linkin-section.touch-device figure.effect-lily:hover h2,
#work-linkin-section.touch-device figure.effect-lily:hover p {
  -webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

#work-linkin-section.touch-device figure.effect-lily:hover img{
  -webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

/*
  About Footer
*/

footer{
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  background-color:#3d4142;
  color: white; 
}

footer .contact, footer .social-network, footer .copyright{
  padding: 5px 10px 5px 10px;
}

footer .social-network{
  word-spacing: 10px;
}

footer .social-network a{
  color: inherit;
  text-decoration: none;
}

footer i{
  font-size: 2em;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

@media(max-width:488px){
  .skill-container{
    width: 100%;
  }
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }

  .pimg1 .border{
    font-size:16px;
  }
}


@media(max-width:768px){
  .brief{
    width: 100%;
  }

  #work-linkin-section figure{
    width: 100%;
  }

  .skill-container{
    width: 90%;
  }

  .ptext{
    font-size: 18px;
  }

  .grid-sizer,
  .grid-item {
    width: 49%;
  }

  .section{
    padding: 10px 0;
  }
}
