<div class="pimg1">
  <div class="ptext">
    <span class="border"   [@movePanel]=''>
      Congratulation
    </span>
  </div>
</div>

<section class="section section-light">
  <h2>About Me</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
  </p>
  <div id="brief-container">
    <div class="brief">
      <img src="../../assets/icon/graduate.png">
      <h3>Education</h3>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
    <div class="brief">
      <img src="../../assets/icon/basketball.png">
      <h3>Sport</h3>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
    <div class="brief">
      <img src="../../assets/icon/gamepad.png">
      <h3>Gamer</h3>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
  </div>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Work and Profile
    </span>
  </div>
</div>

<section class="section-dark" id="work-linkin-section">
  <figure class="effect-lily">
    <img src="../../assets/img/work.jpg" alt="img12"/>
    <figcaption>
      <div>
        <h2>View <span>My Work</span></h2>
        <p>Click to view my Github projects</p>
      </div>
      <a href="#">View more</a>
    </figcaption>			
  </figure>
  <figure class="effect-lily">
    <img src="../../assets/img/profile.jpg" alt="img12"/>
    <figcaption>
      <div>
        <h2>View <span>My Profile</span></h2>
        <p>Click to view my Linkin profile</p>
      </div>
      <a href="#">View more</a>
    </figcaption>			
  </figure>
</section>

<!-- <div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      Image Three Text
    </span>
  </div>
</div>

<section class="section section-dark">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section> -->

<footer>&copy 2017 - Laventy</footer>
